<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/images/icon.png">
    <title>Animalia - Lo mejor para tus mascotas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<footer>
    <div class="enlaces">
        <section class="nosotros">
            <h4>Nosotros</h4>
            <br>
            <ul>
                <li><a href="/aboutUs">Quiénes somos</a></li>
                <li><a href="/sucursales">Sucursales</a></li>
                <li><a href="/products/products">Catálogo</a></li>
            </ul>
        </section>

        <section class="ayuda">
            <h4>Ayuda</h4>
            <br>
            <ul>
                <li><a href="mailto:contacto@animalia.com">Contacto</a></li>
                <li><a href="#">Medios de pago</a></li>
                <li><a href="#">Envios</a></li>
            </ul>
        </section>

        <section class="cuenta">
            <h4>Cuenta</h4>
            <br>
            <ul>
                <li><a href="#">Mis pedidos</a></li>
                <li><a href="#">Seguimiento</a></li>
                <li><a href="/products/productCreate">Administración</a></li>
            </ul>
        </section>

        <section class="redes">
            <h4>¡Seguínos!</h4>
            <br>
            <ul>
                <li><a href="https://twitter.com/search?q=Animalia&src=typed_query" target=”_blank”><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </section>
    </div>
    
    <div class="up">
        <button onclick="window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });">
            <i class="fa-solid fa-caret-up"></i>
            </i></button>
    </div>

    <div class="legales">
        <p>&nbsp © Pet Shop Animalia - Lo mejor para tus mascotas.<a href="#">Términos y condiciones</a></p>
    </div>

</footer>       