
<header>
    <div class="navbarSuperior">
        <a href="/user/login"><i class="fa-solid fa-user-check"></i> Ingresar</a>
        <p> | </p>
        <a href="/user/register"><i class="fa-solid fa-user-plus"></i> Registrarse</a>
        <p> | </p>
        <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
        &nbsp&nbsp
    </div>

    <div class="navbarInferior">
        <div class="logo"><a href="/"><img src="/images/logo.png" alt="Animalia" title="Animalia - Lo mejor para tus mascotas"></a></div>

        <nav class="secciones">

            <ul>
                <li><a href="#"><img src="/images/Iconos-Menu-perro.png">
                        Perros</a></li>
                <li><a href="#"><img src="/images/Iconos-Menu-gato.png">
                        Gatos</a></li>
                <li><a href="#"><img src="/images/Iconos-Menu-pajaro.png">
                        Aves</a></li>
                <li><a href="#"><img src="/images/Iconos-Menu-Roedor.png">
                        Roedores</a></li>
                <li><a href="#"><img src="/images/Iconos-Menu-peces.png">
                        Peces</a></li>
                <li><a href="#"><img src="/images/Iconos-Menu-oferta.png">
                        Ofertas</a></li>
            </ul>

        </nav>

        <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

        <form action="#" method="POST">
            <input type="search" placeholder="Búsqueda"></input> <i class="fa-solid fa-magnifying-glass"></i>
        </form>
    </div>
</header>