<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles404.css" rel="stylesheet">
    <link rel="icon" href="/images/icon.png">
    <title>Animalia - Lo mejor para tus mascotas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <header>
    </header>

    <!-- Aquí comienza el main: banner, slider con ofertas, cards de productos y enlaces varios -->
    <main>
        <h3>¿Dónde estás?</h3>
        <p>Probá regresando al home de <a href="/">Animalia</a></p>

    </main>

    <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
    <footer>
    </footer>

</body>

</html>