<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <link rel="icon" href="/images/icon.png">
    <link href="/css/styles404.css" rel="stylesheet">
    <title>Animalia - 404</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
         <!-- Aquí comienza el main -->
        <main>
            <h1 class="titulo">¡Guau! ¿Dónde querés ir?</h1>
            <p class="subtitulo">Nuestros expertos rastreadores no pudieron encontrar lo que buscás</p>
            <img src="/images/404perros.png" alt="">
            <br>
            <button class="button" type="submit"><a href="/">Volver a inicio</a></button>
            <br>
        </main>

</body>

</html>