/*Login Maru*/

/* Estilos generales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

:root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
}


/* Estilos Formularios - Register*/



.formulario p {
font-size: 15px;
};

.links { 
    text-decoration: none !important;
    color:red !important;
};

.formulario h2 {
    text-align: center;
    margin: 2px;
    color: var(--rosa);
    font-size: 24px;
}

.formulario input {
    display: inline-block;
    background-color: var(--blanco);
    padding: 15px 60px 15px 30px;
    margin: 9px 9px;
    border: solid 1.5px var(--verde);
    border-radius: 20px;
    font: inherit;
    text-align: left;
    
}

.formulario input:focus {
    color: var(--gris);
}

.formulario button {
    padding: 8px 10px;
    margin: 8px;
    background-color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 6px;
    font-family: 'Roboto', serif;
    
}

.formulario button a {
    text-decoration: none;
    color: var(--blanco);
}


.formulario h3{
    text-align: center;
    color: var(--gris);
}

.login {
    text-align: center;
}

.sendButton:hover {
    background-color: var(--celeste);
    border: 1px solid var(--celeste);
}

.crearPerfil,
.irALogin {
    text-decoration: none;
    color: #1259c3;
    font-size: 14px;
    font-weight: bold;
}

/* Estilos footer */

footer {
    background-color: var(--celeste);
    color: var(--blanco);
    font-size: 16px;
}

.newsletter {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    padding: 3px;
    align-items: center;
    padding: 3px;
}

.newsletter input {
    padding: 6px 8px 7px;
    font-size: 14px;
    border: 1px solid var(--blanco);
    background-color: var(--blanco);
    color: var(--gris);
}

.newsletter button {
    padding: 8px 10px;
    margin: 8px;
    background-color: var(--gris);
    border: 1px solid var(--gris);
    font-family: 'Roboto', serif;
    color: var(--blanco);
}

.newsletter button:hover {
    color: var(--amarillo)
}

.enlaces {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enlaces h4 {
    
    text-align: center;
}

.enlaces a, .legales a {
    text-decoration: none;
    color: var(--blanco);
    margin: 11px;
    padding: 1px;
}

.enlaces a:hover, .legales a:hover {
    color: var(--amarillo);
}

.enlaces li {
    padding: 5px;
    list-style: none;
    text-align: center;
}

.legales {
    text-align: left;
    padding: 5px;
}

/* Estilos para diseño adaptativo */

/* mobile */

@media (min-width: 320px) {

}

/* tablet */
@media (min-width: 768px) {
}

/* desktop */
@media (min-width: 1024px) {

    .burguer-menu {
        display: none;
    }

    .secciones {
        display: flex;
    }
}