/* Estilos universales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

:root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
}

/*Estilos main pag Prod Details MARIANO*/

.titulares {
    color: var(--rosa);
    font-size: 24px;
    text-align: center;
}

.container {
    display: grid;
    width: 98%;
    grid-template-columns: repeat(1, 1fr);
}

img.detail_prod__img {
    height: 422px;
}

.detail_prod__img {
    padding: 15px 0;
    position: relative;
}

.precio {
    font-size: 25px;
    font-weight: bold;
    margin-top: 6px;
    font-style: normal;
    color: var(--negro);
    text-decoration: line-through;
}

.descuento {
    font-size: 30px;
    font-weight: 700;
    color: #135191;
}

.cuadro {
    justify-content: center;
    background-color: #edf2f6;
    border-radius: 12px;
    min-width: 300px;
    max-width: 375px;
    padding: 16px 26px;
    margin: 0 auto;
    margin-bottom: 10px;
}

select {
    width: 95px;
    height: 37px;
    border-color: var(--celeste);
    outline: var(--celeste);
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-radius: 0;
    margin-top: 10px;
}

.listadebeneficios {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0;
    color: var(--gris);
    line-height: 18px;
}

.titulodescripcion {
    border: solid 1px var(--gris);
    border-top: solid 4px var(--celeste);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 0px;
    padding: 0px 50px;
    line-height: 50px;
    width: max-content;
}

.descripciones {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding: 44px;
    margin: 10px;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--gris);
}

.titulo {
    color: var(--rosa);
    font-size: 28px;
}

.button {
    padding: 0px 24px;
    margin: 8px;
    background-color: var(--celeste);
    border: 1px solid var(--celeste);
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: var(--blanco);
    font-weight: 350;
    height: 44px;
    border-radius: 6px;
    cursor: pointer;
    width: 58%;
}

.button a {
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: var(--blanco) !important;
    font-weight: 350;
    text-decoration: none;
}

.button:hover a {
    color: var(--amarillo) !important;
}


/* Estilos para diseño adaptativo */

/* mobile */

@media (min-width:320px) and (max-width:420px) {
    .listadebeneficios {
        width: 90%;
        margin: 0 auto;
    }

    img.detail_prod__img {
        max-height: 320px;
    }
}

/* tablet y desktop */
@media (min-width: 768px) {
    .container {
        display: grid;
        width: 98%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr)
    }

}

/* tablet y desktop */
@media (min-width: 768px) {
    .container {
        display: grid;
        width: 98%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr)
    }
}