/* Estilos generales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

:root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
}


/* Estilos Formularios - Register*/
.formulario-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.formulario-login a {
    text-decoration: none;
    color: var(--celeste);
}

.formulario-login hr {
    width: 96%;
    margin: 0 auto;
    color: var(--gris);
    margin-top: 2px;
    margin-bottom: 8px;
}

.input {
    width: 330px;
    margin: 8px;
    background-color: var(--blanco);
    padding: 12px 10px 12px 12px;
    border: solid 1px var(--verde);
    border-radius: 8px;
    font: inherit;
    outline: var(--verde);
    color: var(--gris);
}

.input:focus {
    background-color: lightcyan;
}

form span.helper-text {
    display: block;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    color: var(--gris);
  }

  form span.helper-text span.valid {
    color: var(--verde);
     text-decoration-line: line-through;
  }

  form.valid input {
    border: 1px solid var(--verde);
  }

  .fa-eye, .fa-eye-slash{
    margin-top: 24px;
    margin-left: -36px;
    position: absolute;
    cursor: pointer;
    color: var(--gris);
    font-size: 16px;
}

  .helper-text i {
    width: 20px;
    color: var(--gris);
    font-size: 12px;
    }

.sendButton {
    width: 96%;
    padding: 0px 24px;
    margin: 8px;
    background-color: var(--celeste);
    border: 1px solid var(--celeste);
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: var(--blanco) !important;
    font-weight: 350;
    height: 44px;
    border-radius: 6px;
    cursor: pointer;
}

.contraseña, .spanRegistro {
    font-size: 14px;
    align-items: center;
}

.sendButton a {
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: var(--blanco) !important;
    font-weight: 350;
}

.sendButton:hover a {
    color: var(--amarillo) !important;
}

.imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    margin: 8px;
}

.imagen img {
    height: 540px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inherit;
    padding: 20px;
    margin: 8px;
}

.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inherit;
    border: 1px solid var(--gris);
    border-radius: 2px;
    padding: 16px;
    margin: 8px;
    width: 88%;
}

.bienvenida {
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
    color: var(--rosa);
}


/* Estilos para diseño adaptativo */

/* mobile */

@media (min-width:320px) and (max-width:374px) {
    .input {
        min-width: 318px;
        max-width: 330px;
    }
    
    .imagen {
        display: none;
    }

    .form img {
        display: none;
    }
}

@media (max-width: 767px) {
    .imagen {
        display: none;
    }

    .form img {
        display: none;
    }
}

/* tablet */
@media (min-width:768px) and (max-width:1023px) {
    .imagen {
        display: none !important;
    }
}