 /* Estilos universales */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}

:root {
    --celeste: #54A4CB;
    --verde: #674E3E;
    --rosa: #C9914B;
    --amarillo: #FFF159;
    --blanco: #fff;
    --gris: #3c3c3c;
    --negro: #000;
}

/* CSS Form de Registro Mariano */

.formulario {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 98%;
}

.formulario p {
font-size: 15px;

}
.formulario h3 {
    text-align: center;
    font-size: 24px ;
    color: var(--rosa);
    margin: 2px;
}

.formulario input {
    display: inline-block;
    background-color: var(--blanco);
    padding: 15px 60px 15px 30px;
    margin: 9px 9px;
    border: solid 1.5px var(--verde);
    border-radius: 20px;
    text-align: center;
}

.formulario input:focus {
    color: var(--verde);
}

.formulario button {
    background-color: var(--verde);
    color: white;
    border: 1px solid var(--verde);
    padding: 12px 14px;
    margin: 0 5px;
    border-radius: 6px;

}

.formulario button a {
    text-decoration: none;
    color: white;
}

.login {
    text-align: center;
}

.resetButton:hover,
.sendButton:hover {
    background-color: var(--celeste);
    border: 1px solid var(--celeste);

}

.crearPerfil,
.irALogin {
    text-decoration: none;
    color:var(--rosa);
    font-size: 14px;
    font-weight: bold;
}