<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles-prodCart.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/images/icon.png">
    <title>Carrito - Animalia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

        <!-- Aquí comienza el main -->
        <main>

            <!-- Vista de carrito: mockup (hay que modificarlo para que sea funcional y dinámico -->
            <section>
                <div class="my-order">
                    <div class="my-order-container">
                        <div class="my-order-content">

                            <div class="titulares">
                                <h1>Mi carrito de compras:</h1>
                            </div>

                            <div class="shopping-cart">
                                <figure>
                                    <img src="/images/proplangato.webp" alt="PROPLAN GATO ADULTO 7.5 KG">
                                </figure>
                                <p>PROPLAN GATO ADULTO 7.5 KG</p>
                                <p>$7.500</p>
                            </div>

                            <div class="shopping-cart">
                                <figure>
                                    <img src="/images/agilitysardina.webp" alt="AGILITY CATS SARDINA 340 GR">
                                </figure>
                                <p>AGILITY CATS SARDINA 340 GR</p>
                                <p>$246</p>
                            </div>

                            <div class="shopping-cart">
                                <figure>
                                    <img src="/images/catlife.webp" alt="PIEDRAS SANITARIAS CATLIFE 4 KG">
                                </figure>
                                <p>PIEDRAS SANITARIAS CATLIFE 4 KG</p>
                                <p>$1.400</p>
                            </div>

                            <div class="shopping-cart">
                                <figure>
                                    <img src="/images/peinegatos.webp" alt="PEINE DE PULGAS LE SALON">
                                </figure>
                                <p>PEINE DE PULGAS LE SALON</p>
                                <p>$200</p>
                            </div>

                            <div class="order">
                                <p>
                                    <span>TOTAL:</span>
                                </p>
                                <p>$9.346</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <br>
            </section>
        </main>

        <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
        <%- include('../partials/footer.ejs') %>

</body>

</html>