<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles-login-register.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/images/icon.png">
    <title>Ingreso - Animalia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

        <!-- Aquí comienza el main -->
        <main>

            <div class="formulario-login">
                <div class="imagen">
                    <img src="/images/gatoperro-login.jpg" alt="gato">
                </div>
                
                <div class="formulario">
                    <div class="form">
                        <img src="/images/animalia.jpg" alt="">
                    <form action="./users/login" method="POST">
                        <br>
                        <input class="input" type="text" name="usuario" placeholder="Usuario o correo electrónico"
                            required>
                            <span><i class="fa-solid fa-envelope"></i>
                        </input>
                            <br>
                        <input class="input password" type="password" name="password" placeholder="Contraseña" required>
                        <span><i class="fa-solid fa-eye-slash toggle-password"></i>
                        </input>

                        <br>
                        <button class="sendButton" type="submit"><a href="/">Iniciar sesión</a></button>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <p class="bienvenida">LO MEJOR PARA TUS MASCOTAS</p>
                        <br>
                        <a href="#" class="contraseña">¿Olvidaste tu contraseña?</a>
                    </form>
                    </div>
                    
                    <div class="registro">
                        <span class="spanRegistro">¿No tienes una cuenta? <a href="/users/register"
                                class="crearPerfil">Regístrate</a></span>
                    </div>
                    <br>
                    <br>
                </div>
            </div>

        </main>

        <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
        <%- include('../partials/footer.ejs') %>

        <script src="/javascript/signup.js"></script>
</body>

</html>