<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles-login-register.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/images/icon.png">
    <title>Ingreso - Animalia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

        <!-- Aquí comienza el main -->
        <main>

            <div class="formulario-login">
                <div class="imagen2">
                    <img src="/images/GATO.jpg" alt="gato">
                </div>
                
                <div class="formulario">
                    <div class="form">
                        <img src="/images/animalia.jpg" alt="">
                    <form action="./users/login" method="POST">
                        <br>
                        <input class="input" type="text" name="usuario" placeholder="Usuario o correo electrónico"
                            required>
                            <span><i class="fa-solid fa-envelope"></i>
                        </input>
                            <br>
                            <input class="input" type="text" name="nombre" placeholder="Nombre completo"
                            required>
                            <span><i class="fa-solid fa-user"></i>
                        </input>
                        <br>
                        <input class="input password" type="password" name="password" placeholder="Ingresar nueva contraseña" required>
                        <span><i class="fa-solid fa-eye toggle-password"></i>
                        </input>
                        <br>
                        <input class="input password" type="password" name="password" placeholder="Repetir nueva contraseña" required>
                        <span><i class="fa-solid fa-eye toggle-password"></i>
                        </input>
                       
                        <!--HAY QUE CORREGIR JAVASCRIPT PARA CONFIRMAR SI LOS PASSWORS SON IGUALES-->

                        <span class="helper-text">
                            <span class="length">- Ocho caracteres.</span><br>
                            <span class="lowercase">- Una minúscula.</span><br>
                            <span class="uppercase">- Una mayúscula.</span><br>
                            <span class="special">- Un número o caracter espercial.</span>
                          </span>
                          <br>
                          <p class="condiciones">Al registrarte, aceptas <a href="#">términos y condiciones</a>.</p>
                        <br>
                        <button class="sendButton" type="submit"><a href="/">Crear cuenta</a></button>
                        <br>
                        
                    </form>
                    </div>
                    
                    <div class="registro">
                        <span class="spanRegistro">¿Ya tienes una cuenta? <a href="/users/login"
                                class="crearPerfil">Inicia sesión</a></span>
                    </div>
                    <br>
                </div>
            </div>

        </main>

        <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
        <%- include('../partials/footer.ejs') %>

        <script src="/javascript/signup.js"></script>
</body>

</html>